.infoWrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #09051a, #000000);
    padding:100px;
    transition:height 2s;
    transition:opacity 2s;
}

.infoWrapper img {
    display: inline-block;
    float: right;
    width: 50%;
}

.infoHeader {
    overflow: hidden;
    animation: infoAppir 4s 1;
}
.infoText{
    width: 50%;
    display: inline-block;

}

.infoText h2 {
    color: #c5c5c5;
    font-size: 24px;
    font-weight: 200;
}

.infoText h2 span:nth-child(1) {
    font-weight: 900;
}
.infoText h2 span:nth-child(2) {
    font-weight: 900 !important;
}

@keyframes infoAppir {
    0%{ opacity: 0;}
    25%{ opacity: 0;}
    50%{ opacity: 0;}
    75%{ opacity: 0;}
    100%{ opacity: 1;}
}

