.mainWrapper {
    height:60vh;
    width: 100vw;
   
    font-family: 'Poppins', sans-serif;
}
.mainContainer {
    width: 100vw;
    height: 60vh;
    background: linear-gradient(90deg, #000000, #10051a);
    overflow: hidden;
    position: relative;
    animation: headerAppir 3s 1;
    transition: 2s;
}
@keyframes headerAppir {
    0%{ height: 0vh;}
    100%{ height: 60vh;}
}
.mainText {
    position: absolute;
    padding: 100px;
    color: #f0f0f0;
}
.mainText h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
}
.mainText h2 {
    width: 40vw;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 40px;
    
}


.mainContainer h2 span {
    font-weight: 700;
}
.mainContainer img:nth-child(1) {
    display: inline-block;
    float: right;
    height: 60vh;
    width: 50%;
    clip-path: polygon(51% 0, 100% 0, 100% 100%, 0% 100%);
    animation: image1 4s 1;
} 

@keyframes image1 {
    0%{margin-right: -200px;}
    100%{margin-right: 0px;}
}
.mainContainer img:nth-child(2) {
    position: absolute;
    right: 100px;
    top: 5vw;
    height: auto;
    width: 25vw;
    z-index: 1;
    animation: image2 5s 1;
} 
@keyframes image2 {
    0%{margin-top: 200px;}
    100%{margin-top: 0px;}
}
.mainContainer img:nth-child(3) {
    position: absolute;
    right: 20vw;
    top: 15vw;
    height: auto;
    width: 18vw;
    transform: rotateY(180deg);
    animation: image3 5s 1;
} 
@keyframes image3 {
    0%{margin-right: 100px;}
    100%{margin-right: 0px;}
}

.preloaderVideo {
    opacity: 0;
    display: none;
    transition: .6s;
}
.constructorWrapper {
    display: none;
}